<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>查看自己的店铺</h2>
<h4><a href="{% url 'commen:index' %}">首页</a></h4>
<ul>
    {% for store in store_list %}
    <li>
        <img src="/{{store.cover}}" alt=""><br>
        <p>{{store.name}}</p>
        <p>{{store.intro}}</p>
        <p><a href="{% url 'store:store_info' store.id%}">查看店铺详情</a></p>
    </li>
    <hr>
    {% empty %}
    <li>您还没有开设任何店铺</li>
    {% endfor %}
</ul>
</body>
</html>